html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* IMAGE DE FOND RESPONSIVE */
body {
  background-image: url("Fond_page1.jpg");
  background-size: cover;        
  background-position: center;
  background-repeat: no-repeat;
 
}

#main-container {
  display: flex; /*pour mettre les 3 div alignes*/
  justify-content: space-between; 
  align-items: center;    
  width: 100%;
   height: 100vh;
 
}
/* BOÎTE DU CHEVAL (responsive et centrée) */
#box_cheval {
  flex:1; 
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;        
  max-width: 350px;   
  min-width: 120px;   
  /*animation: slidein 3s ease-out forwards;*/
}  


/* IMAGE DU CHEVAL */
#cheval {
  width: 100%;
  height: auto;
  display: block;
  opacity: 0; 
  transition: opacity 1s ease-in; /}

/* Animation */
@keyframes slidein {
  from {
    transform: translate(-50%, -100%) scale(0.5);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}


#races {
  flex:1; 
  position: absolute;
  top: 30%;
  left: 30%;
  font-size: 0.9vw; 
  color: white;


}
#fairy-container {
  flex:1; 
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25vw;        
  max-width: 350px;   
  min-width: 120px;   
}


#sellefrancais {
  position: relative;
  right: 20%;
  color: white;
  animation: slidein 1s ease-out forwards;

}

#paint_horse {
  position: relative;
  right: 40%;
  color: white;
  animation: slidein 2s ease-out forwards;

}

#pottock {
  position: relative;
  right: 60%;
  color: white;
  animation: slidein 3s ease-out forwards;

}

#pur_sang {
  position: relative;
  right: 80%;
  color: white;
  animation: slidein 4s ease-out forwards;

}

#shetland {
  position: relative;
  right: 60%;
  color: white;
  animation: slidein 5s ease-out forwards;

}

#marawi {
  position: relative;
  right: 40%;
  color: white;
  animation: slidein 6s ease-out forwards;

}

#akhal {
  position: relative;
  right: 20%;
  color: white;
  animation: slidein 7s ease-out forwards;

}

.couleur {
  flex: 1;            
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;

}

/* images rondes */
.couleur img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  object-fit: cover;
  position: absolute;
}

#sellefrancais1 {
  top: 50;
  left: 50%;
  visibility: hidden;
}

#sellefrancais2 {
  top: 80%;
  left: 75%;
  transform: translateY(-50%);
  visibility: hidden;
}


#PaintHorse1 {
  top: 30;
  left: 50%;
  visibility: hidden;
}

#PaintHorse2 {
  top: 50%;
  left: 75%;
  transform: translateY(-50%);
  visibility: hidden;
}

#PaintHorse3 {
  top: 80%;
  /* milieu vertical du parent */
  left: 75%;
  /* décalage vers la gauche */
  transform: translateY(-50%);
  visibility: hidden;
}


#pottock1 {
  top: 30;
  left: 50%;
  visibility: hidden;
}

#pottock2 {
  top: 50%;
  left: 75%;
  transform: translateY(-50%);
  visibility: hidden;
}

#pottock3 {
  top: 80%;
  /* milieu vertical du parent */
  left: 75%;
  /* décalage vers la gauche */
  transform: translateY(-50%);
  visibility: hidden;
}



#stable {
  width: 40px;
  height: 40px;
}


/*baguette magique */
#fairy-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: 200px;
  z-index: 10; 
  transition: opacity 1s ease-in-out;

}

