/* Fond noir transparent */
#modal,#modal-login {
  display: none;              /* caché au début */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); 
  backdrop-filter: blur(2px);
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Boîte du formulaire */
#box_formulaire, #box_formulaire_login{
  background: white;
  padding: 25px;
  width: 400px;
  max-width: 90%;
  border-radius: 10px;
  position: relative;
  animation: fadeIn 0.3s ease;
}

/* Bouton fermer */
#close_btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 28px;
  cursor: pointer;
}

/* Animation */
@keyframes fadeIn {
  from { transform: scale(0.8); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}