
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* IMAGE DE FOND RESPONSIVE */
body {
  background-image: url("");
  background-size: cover;        
  background-position: center;
  background-repeat: no-repeat;

}
