body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("stable/Capture d'écran 2025-11-12 232806.png");
  background-size: cover;
  background-position: center;
  z-index: -1;

  /* animation de zoom */
  animation: zoomOut 3s ease-out forwards;
  transform: scale(1.5); /* commence zoomé */
}

@keyframes zoomOut {
  from {
    transform: scale(1.5); /* zoom initial */
  }
  to {
    transform: scale(1); /* retour à la taille normale */
  }
}